@media screen and (max-width: 1024px)
{
    .carousel-item .slider-1-text h3
    {
        font-size: 125%;
    }

    #slide1 img
    {
        width: 100%;
        margin-top: 20rem;
        margin-left: 1rem;
    }

    .carousel-item .slider-1-text
    {
        top: 10vh;
        color: #2f2c2c;
        width: 90%;
        margin-left: -2rem;
    }

    .img-index-responsive
    {
        margin-top: 5rem!important;
    }

    .carousel-item .slider-2-text
    {
        top: 5vh;
        right: 62%;
        color: #2f2c2c;
    }

        .carousel-item .slider-2-text h3 span
        {
            font-size: 140%;
            color: #fff;
        }

        .carousel-item .slider-2-text h3
        {
            font-size: 160%;
            width: 111%;
        }

    .carousel-item .slider-2-text
    {
        top: 5vh;
        right: 17%;
        color: #2f2c2c;
    }

    .carousel-item .view .slider-2-img
    {
        width: 100%;
        margin: 24rem 0rem;
    }

    .carousel-item .slider-3-text
    {
        top: 2vh;
    }

    .carousel-item .slider-3-text
    {
        width: 70%;
        left: 15%;
        margin-top: 3rem;
    }

        .carousel-item .slider-3-text h3 span
        {
            font-size: 140%;
        }

    .carousel-item .view .slider-3-img
    {
        margin: 0;
    }

    .carousel-item .slider-2-text h3
    {
        font-size: 120%;
        width: 100%;
    }

    .carousel-item .slider-3-text h3
    {
        font-size: 140%;
        width: 111%;
    }

    .hidden-xs
    {
        display: none!important;
    }

    #slide2 h1
    {
        margin-top: 2rem;
    }

    .col-xs-6
    {
        width: 50%;
    }

    section h2:after
    {
        display: none;
    }

    #slide3 .lead .grey-text
    {
        margin-top: -2rem;
    }

    #slide6 p
    {
        margin: -2rem 0;
    }

    #slide6 img
    {
           margin-top: -5rem;
    }

    h2
    {
        font-size: 1.75rem;
    }

    #slide8 p
    {
        margin: -1rem;
    }

    #slide9 .container p
    {
        line-height: 1.5rem;
        margin: -2rem;
    }

    .navbar .dropdown-menu
    {
        min-width: 13rem!important;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        margin-left: 0;
        border-bottom: 0.25rem solid #F44336;
        opacity: 0.95;
        width: 100%;
    }

    header section
    {
        margin-top: 5rem;
    }

    main
    {
        margin-top: 5rem;
    }

    footer
    {
        text-align: center;
    }

    .navbar.navbar-dark .navbar-toggler
    {
        color: #000;
    }

    /*#slide3 .py-5
    {
        padding-bottom: 1rem!important;
    }

    #slide4 img
    {
        margin-top: -3rem;
    }

    #slide5 .py-5
    {
        padding-bottom: 1rem!important;
    }

    #slide5 img
    {
        margin-top: -4rem;
    }

    #slide6 h2
    {
            font-size: 1.5rem;
    }
    #slide10 .py-4 {
    padding-top: 0.5rem!important;
}*/
}
